.App {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
 ;

}

.App-header {
  background-color: #2f3c7e;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  font-size: 24px;
  padding:.25em;
  margin: 2em 6em;
  border-radius: 5px;
}


.App-title {
  
  font-size: 2.5em;
}

